<!DOCTYPE html>
{% set main_productid = product[13] %} {# DO NOT DELETE, TEMPLATE VARIABLE #}
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="{{product[6]}}" />
<meta name="keywords" content="{{product[7]}}" />
<meta name="author" content="KnightStudio Canada" />
<title>{{ product.title }} - {{ data['sitename'] }}</title>
<link href="/ks/css/style.css" rel="stylesheet" />
<link href="/media/{{data['favicon']}}" rel="icon">
<link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

<link type="text/css" href="/ks/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/ks/css/lightslider.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/ks/js/lightslider.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
.ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
</style>
    </head>
    <body class="bg-white">

      <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
          <a href="/" class="navbar-brand p-0">
            <img src="/media/{{data['logo']}}" alt="Logo" class="flex"> {{data['sitename']}}
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
              <a href="/" class="nav-item nav-link active">Home</a>

              <!-- <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                              <div class="dropdown-menu m-0">
                                  <a href="booking.html" class="dropdown-item">Booking</a>
                                  <a href="team.html" class="dropdown-item">Our Team</a>
                                  <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                              </div>
                          </div> -->
            </div>
            <div>
              <button class="btn bg-white text-dark" onclick="openlikes()">Liked <span class="badge bg-dark text-white rounded-3 border" id="likescount">1</span></button>
            </div>

            &nbsp&nbsp
            <div>
              <button class="btn bg-white text-dark rounded-0" onclick="checkout();return false;">Checkout</button><input type="button" class="btn bg-dark text-white border" id="cart" style="margin-left:-2px;" value="0" disabled></input>
            </div>

              {% if 'authenticated' in session %}
                  {{admin_button()|safe}}
              {% endif %}
            <!-- <a href="" class="btn btn-primary py-2 px-4">Order on Skip</a> -->
          </div>
        </nav>
      </div>
        <!-- Page content-->

        <div class="container mt-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            </ol>
          </nav>

            <div class="row">
                <div class="col-lg-7">
                    {% if new %}
                    <center>
                    <div class="alert alert-success" role="alert">
                      Product is now live!
                      <br><a class="btn btn-primary btn-xs rounded" href="/product-edit/{{product.product_urlsystem}}"> Update product</a>&nbsp&nbsp<a class="btn btn-primary btn-xs rounded" href="/product-new"> Create new product</a>&nbsp&nbsp<a class="btn btn-primary btn-xs rounded" href="/product-manage"> View all products</a>
                    </div>
                  </center>
                    {% endif %}
                    <article>
                    <div class="demo">
                        <ul id="lightSlider">
                          {% if mainimage %}
                          <li data-thumb="/media/mainimage/{{product.product_id}}/{{product.mainimage}}"/>
                              <img class="img-fluid" src="/media/mainimage/{{product.product_id}}/{{product.mainimage}}" style="width:100%"/>
                          </li>
                          {% endif %}
                        {% if jslidespy %}
                          {% for ke ,val in jslidespy.items() %}
                              {% if "/variants/" in ke %}
                              <li data-thumb="/{{ke.replace('static/dashboard/uploads/products/','')}}"/>
                                  <img class="img-fluid" src="/{{ke.replace('static/dashboard/uploads/products/','')}}" style="width:100%"/>
                              </li>
                              {% else %}
                              <li data-thumb="/media/products/{{product.product_id}}/{{ke}}"/>
                                  <img class="img-fluid" src="/media/products/{{product.product_id}}/{{ke}}" style="width:100%"/>
                              </li>
                              {% endif %}
                          {% endfor %}
                        {% endif %}
                        </ul>
                    </div>

                    </article>
                    <br>
                    {% if 'authenticated' in session %}
                    <center><a class="btn btn-primary" href="/product-edit/{{product.product_urlsystem}}">Edit this product</a></center>
                    {% endif %}

                    <hr>
                    <br>
                  <center><h4>Products you might like</h4></center>
                  <br>

                  <!-- Load Similar Products -->
                  {% include "/SYSTEM/default/product-includes/similar-products.html" %}
                  <!-- Load Similar Products -->

                </div>

                <!-- Side widgets-->
                <div class="col-lg-5">
                    <center><h2>{{product.title}}</h2></center>
                    <div class="container">
                      <div class="row border rounded-3">

                      <div class="card" style="background:none;border:0">
                        <div class="row mt-3 mb-0">
                          <div class="col" style="padding-left:3%">
                            <h5><p class="badge bg-muted rounded border text-dark" id="pricep">Price: ${{product.price}}</p></h5>
                            <input name="fprice" id='fprice' value="{{product.price}}" hidden/>
                          </div>
                          <div class="col-8">
                          <p id="stock" style=""></p>
                        </div>
                        </div>
                          <h4><u>Product Details</u></p>
                          <h6 class="mt-0 text-muted" style="word-break: break-word;">{{product.body|safe}}</h6>
                      </div>

                      <div class="row m-2">
                        <div class="col-lg-4">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Quantity</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="basic-addon1" value="1" id="quant">
                          </div>
                        </div>
                        {% if variants %}
                        <div class="col-lg-8">
                          <select class="form-select form-select-md" aria-label=".form-select-lg example" id="varsel">
                            <option selected>Available variants</option>
                            {% for variant in variants %}
                                <option value="{{productinfo[variant]['price']}}">{{variant.replace("-ivar","")}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        {% endif %}
                      </div>
                        <div class="row m-2">
                          <div class="col-lg-10">
                            {% if product.stock != "0" %}
                            <button class="btn btn-lg btn-success text-white bordered" style="max-width:100%;width:100%;" id="addtocart">ADD TO CART</button>
                            {% else %}
                            <center><b>Product out of stock</b></center>
                            <button class="btn btn-lg btn-success text-white bordered" style="max-width:100%;width:100%;" id="addtocart" disabled>Out Of Stock</button>
                            {% endif %}
                          </div>
                          <div class="col-lg-2">
                          <button class="btn btn-m btn-white btn-dark border mdi mdi-heart mt-1" style="border-radius:50%" id="addtolike"></button>
                        </div>
                        </div>
                        {% include "/SYSTEM/default/product-includes/sidebar.html" %}
                      </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade pt-5" id="likeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Products you liked</h5>
              </div>
              <div class="modal-body">
              <div class="container" id='likedrow'>
                <center><p>You have no liked product yet.</p></center>
              </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer-->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-3">
        <div class="row g-5">
          <div class="col-lg-6 col-md-4">
            <div style="width: 100%"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.262318812828!2d-123.09029242436087!3d49.21455207557749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867445f389ef7f%3A0xab5e2e2633dd98c6!2s7710%20Prince%20Albert%20St%2C%20Vancouver%2C%20BC%20V5X%203Z6!5e0!3m2!1sen!2sca!4v1693270858778!5m2!1sen!2sca">Calculate population in area</a></iframe></div>
          </div>
          <div class="col-lg-3 col-md-6">
            {% if mod['extras']['enabled'] %}
            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
            {% if mod['extras']['address'] %}
            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{mod['extras']['address']}}</p>
            {% endif %}

            {% if mod['extras']['number'] %}
            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{mod['extras']['number']}}</p>
            {% endif %}

            {% if mod['extras']['email'] %}
            <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{mod['extras']['email']}}</p>
            {% endif %}
            {% endif %}

            {% if mod['socialshare']['enabled'] %}
            <div class="d-flex pt-2">
              {% if mod['socialshare']['tw'] %}
              <a class="btn btn-outline-light btn-social" href="{{mod['socialshare']['tw']}}" target="_blank"><i class="fab fa-twitter"></i></a>
              {% endif %}
              {% if mod['socialshare']['fb'] %}
              <a class="btn btn-outline-light btn-social" href="{{mod['socialshare']['fb']}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
              {% endif %}
              {% if mod['socialshare']['gl'] %}
              <a class="btn btn-outline-light btn-social" href="{{mod['socialshare']['gl']}}" target="_blank"><i class="fab fa-google"></i></a>
              {% endif %}
              {% if mod['socialshare']['ig'] %}
              <a class="btn btn-outline-light btn-social" href="{{mod['socialshare']['ig']}}" target="_blank"><i class="fab fa-instagram"></i></a>
              {% endif %}

            </div>
            {% endif %}
          </div>
          <div class="col-lg-3 col-md-6">
            <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
            <h5 class="text-light fw-normal">Monday - Saturday</h5>
            <p>09AM - 09PM</p>
            <h5 class="text-light fw-normal">Sunday</h5>
            <p>10AM - 08PM</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              {{data['sitename']}} &copy; <a class="border-bottom" href="#">{{data['footercopyright']}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var lslide = $('#lightSlider');

      lslide.lightSlider({
          gallery: true,
          item:  1, // gallery main image count
          loop: false,
          slideMargin: 2,
          thumbItem: 10
      });
      </script>

      <script>
      // py -> js objects (needs to be inside product.html)
      const variants = {{jvariants|safe}};
      const productinfo = {{jproductinfo|safe}};
      const mainprice = '{{product.price}}';
      const pid = '{{product.product_id}}';
      const vardict = {{jslides|safe}};

      const product_title = '{{product.title}}'
      const product_url = '{{product.product_urlsystem}}'
      // py -> js objects
      </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/ks/js/product.js"></script>
    </body>
</html>
