<!-- similiar starts -->
<div class="container mt-1 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col">
            {% for similar in similarproducts %}
                {% set vars = ks_variantcount(similar[10]) %}
                {% set desc = khtml2text_truncate(similar[14]) %}

                {% if main_productid == similar[13] %}

                    {# condition: without the condition similar product will also show main product #}

                {% else %}
                  <div class="row p-2 bg-white border rounded">
                      {% if similar[9]|length > 4 %}
                      <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image rounded border" src="/media/mainimage/{{similar[13]}}/{{similar[9]}}" style='width:250px;height:150px'></div>
                      {% else %}
                      <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image  rounded border" src="/media/ni.jpeg" style='width:250px;height:150px'></div>
                      {% endif %}
                      <div class="col-md-6 mt-1">
                          <h5 class="pt-3">{{similar[1]}}</h5>
                          <hr>
                          <p class="ellipsis">{{desc}}</p><br><br>
                      </div>
                      <div class="align-items-center align-content-right col-md-3 border-left mt-4">
                          <div class="d-flex flex-column mt-4"><center><h5 class="border rounded">${{similar[15]}}</h5></center></div>
                          <div class="d-flex flex-column mt-4"><a class="btn btn-primary btn-sm" type="button" href="/product/{{similar[5]}}">View product</a></div>
                          {% if vars %}
                          <div class="d-flex flex-column mt-4"><p class="badge badge-muted text-dark rounded">Available in {{vars}} variants</p></div>
                          {% endif %}

                      </div>
                  </div>
                {% endif %}

              {% endfor %}
        </div>
    </div>
</div>
<!-- similar ends -->
