<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Account Settings - KnightStudio Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../dashboard/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
<script>
{% if success %}
swal("", 'Password has been changed', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}
</script>



  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="../../dashboard/index.html">
            <img src="../../dashboard/images/logo.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="../../dashboard/index.html">
            <img src="../../dashboard/images/logo-mini.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">

        <ul class="navbar-nav ms-auto">

          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="{{data['domain']}}" class="btn btn-sm btn-success">Visit Website</a>
              </span>
          </li>
          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-primary">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="account">Account</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Messages</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">View Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../../dashboard/pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../dashboard/pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="../../dashboard/pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">help</li>
          <li class="nav-item">
            <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Account Settings</h4>
                  <p class="card-description">
                    Administrator Account
                  </p>

                  <form class="pt-3" method="post">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" id="uname" name="uname" placeholder="Username" value="{{data[0]}}" disabled>
                      <input type="text" class="form-control form-control-lg mt-1" id="uemail" name="uname" placeholder="Username" value="{{data[2]}}" disabled>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" id="pwd1" name="pwd1" placeholder="New password">
                      <input type="password" class="form-control form-control-lg mt-2" id="pwd2" name="pwd2" placeholder="Confirm new password">
                    </div>
                    <div class="mt-3">
                  <p class="card-description">
                    Change your password by entering the current one.
                  </p>

                    <button type="submit" class="btn btn-primary">Change Credentials</button>
                      <!-- <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="../../dashboard/index.html">SIGN IN</a> -->
                    </div>

                  </form>
                </div>
              </div>

          </div>

        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../dashboard/partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.KnightStudio.ca/" target="_blank">KnightStudio Dashboard v1.4</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
