<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Edit post - KnightStudio Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../dashboard/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<style>
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 13px 13px 13px 13px;
    display: inline-block;
    padding: 6px 12px;
    margin-top:10px;
    cursor: pointer;
}
</style>
</head>

<body class="sidebar-dark">
<script>
var image_nm = "";
{% if success %}
swal("", 'Website information updated', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}
</script>

  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/dashboard">
            <img src="../../dashboard/img/knightstudio.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/dashboard">
            <img src="../../dashboard/img/knightstudio-s.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <h4 class="text-dark ms-auto">Edit blog post</h4>
        <ul class="navbar-nav ms-auto float-start">
          <li class="nav-item d-none d-sm-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-dark">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-webacc" aria-expanded="false" aria-controls="KnightStudio-webacc">
              <i class="menu-icon mdi mdi-database-settings"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-webacc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account">Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="/modules">Modules</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Contents</li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-product" aria-expanded="false" aria-controls="KnightStudio-product">
              <i class="menu-icon mdi mdi-rice"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-product">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/product-new">New Product</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-manage">Manage Products</a></li>
              </ul>
            </div>
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-blog" aria-expanded="false" aria-controls="KnightStudio-blog">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/blog-new"><b class="text-warning">New Post</b></a></li>
                <li class="nav-item"> <a class="nav-link" href="/blog-manage">Manage Posts</a></li>
              </ul>
            </div>

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-messages" aria-expanded="false" aria-controls="KnightStudio-messages">
              <i class="menu-icon mdi mdi-message-processing"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/messages">Customer Messages</a></li>
                <li class="nav-item"> <a class="nav-link" href="/mwebsite">Website Logging</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">Information</li>
          <li class="nav-item">
            <a class="nav-link" href="/other">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Other Information</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="container">
          <div class="row">

            <div class="col-12 col-md-4">

                <div class="form-group">
                  <h3><span class="badge bg-secondary text-white rounded-0">Category</span></h3>
                  <input type="text" class="form-control" id="categ" name="categ" placeholder="Seperate categories by comma if multiple." value="{{blog[7]}}">

                </div>
                <h3><span class="badge bg-secondary text-white rounded-0">Post thumbnail</span></h3>
                  <center>
                  <img src="/media/blog/{{blog[3]}}" alt="..." id="logoview" name="logoview" class="img-thumbnail" style="border:none;bottom:30px;">
                  </center>
                  <center>
                  <label class="custom-file-upload center">
                    <form id="upload-file" name="upload-file">
                      <input type="file" name="file" onchange="loadFile(event)"/>
                      <i class="fa fa-cloud-upload"></i> Click here to choose&nbsp&nbsp
                    </form>
                  </label>
                </center>
            </div>


            <div class="col-12 col-md-8">
            <form method="post" id="form" name="form">
              <div class="form-group">
                <h3><span class="badge bg-secondary text-white rounded-0">Post title</span></h3>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{blog[1]}}">
                <input type="hidden" class="form-control" id="bimg" name="bimg" placeholder="" value="">
                <input type="hidden" class="form-control" id="cat" name="cat" placeholder="" value="">
              </div>
                  {{ ckeditor.create(value=blog[2]) }}
                <br>
                {% if blog[5] == '0' %}
                <button type="button" class="btn btn-dark" id='hb2' onclick="knightapi2('{{blog[6]}}')">Hide post</button>
                {% else %}
                <button type="button" class="btn btn-dark" id='hb2' onclick="knightapi2('{{blog[6]}}')">Unhide post</button>
                {% endif %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="submit" class="btn btn-primary">Update post</button>

              </form>
            </div>

          </div>
        </div>
        <br>

        <!-- content-wrapper ends -->
        <!-- partial:../../dashboard/partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.KnightStudio.ca/" target="_blank">KnightStudio Dashboard v1.4</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <script src="../../dashboard/knightstudio.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

  <!-- End custom js for this page-->

<script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('logoview');
      output.src = reader.result;
    };
    // image_nm = fname(8);
    reader.readAsDataURL(event.target.files[0]);
    document.getElementById("bimg").value = event.target.files[0].name;
    };

</script>

<script>
$("#form").submit( function(eventObj) {
  var vv = $("#categ").val()
  $("#cat").val(vv)

  var form_data = new FormData($('#upload-file')[0]);
  $.ajax({
      type: 'POST',
      url: '/upload-blog',
      data: form_data,
      contentType: false,
      cache: false,
      processData: false,
      success: function(data) {
          // $("#logoview").attr('src','/media/blog/'+data['status']);
          // swal("", '', "success");
          return true;
      },
  });
});
</script>
</body>

</html>
