<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Edit post - LineCMS Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../dashboard/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
  <link href="../../dashboard/ks-js/filepond.css" rel="stylesheet" />
  <link href="../../dashboard/ks-js/filepond-plugin-image-preview.min.css" rel="stylesheet"/>
<style>
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 13px 13px 13px 13px;
    display: inline-block;
    padding: 6px 12px;
    margin-top:10px;
    cursor: pointer;
}
</style>
</head>

<body class="sidebar-dark">
<script>
var image_nm = "";
{% if success %}
swal("", 'Website information updated', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}
</script>

  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/dashboard">
            <img src="../../dashboard/img/knightstudio.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/dashboard">
            <img src="../../dashboard/img/knightstudio-s.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <h4 class="text-dark ms-auto">Update blog post</h4>
        <ul class="navbar-nav ms-auto float-start">
          <li class="nav-item d-none d-sm-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-dark">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-webacc" aria-expanded="false" aria-controls="KnightStudio-webacc">
              <i class="menu-icon mdi mdi-database-settings"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-webacc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account">Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="/modules">Modules</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Contents</li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-product" aria-expanded="false" aria-controls="KnightStudio-product">
              <i class="menu-icon mdi mdi-rice"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-product">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/product-orders">Product Orders</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-new">New Product</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-manage">Manage Products</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-settings">Settings</a></li>
              </ul>
            </div>
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-blog" aria-expanded="false" aria-controls="KnightStudio-blog">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/blog-new">New Post</a></li>
                <li class="nav-item"> <a class="nav-link" href="/blog-manage"><b class="btn btn-xs btn-warning text-dark">Manage Posts</b></a></li>
              </ul>
            </div>

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-messages" aria-expanded="false" aria-controls="KnightStudio-messages">
              <i class="menu-icon mdi mdi-message-processing"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/messages">Customer Messages</a></li>
                <li class="nav-item"> <a class="nav-link" href="/mwebsite">Website Logging</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">Information</li>
          <li class="nav-item">
            <a class="nav-link" href="/other">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Other Information</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="container">
          <div class="row">

            <div class="col-12 col-md-4">

              <div class="input-group mb-3 pt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text btn-muted text-dark" style="border-radius:8px 0 0 8px">Blog category</span>
                </div>
                  <input type="text" class="form-control" id="categ" name="categ" aria-label="" placeholder="Seperate categories by ','" value="{{blog[7]}}">
              </div>


                <fieldset class="border p-2 text-muted">
                  <legend class="float-none w-auto text-muted" style="font-size:15px">Blog thumbnail</legend>
                  <center>
                    <form enctype="multipart/form-data">
                      <input type="file" name="file" id='mainfile'>
                    </form>
                  </center>
                </fieldset>
                <br>

                <div class="border rounded">
                  <br>
                  <center><h4 class="badge badge-dark text-mute">Blog settings</h4></center>
                  <br>
                  <center><p class="text-muted">No additional settings</p></center>
                  <hr>
                  <center><h4 class="badge badge-dark text-mute">Information</h4></center>
                  <center><p class="text-muted p-0">Timestamp: {{blog[4]}}</p></center>
                  <center><p class="text-muted p-0">Blog URL: {{blog[6]}}</p></center>
                  <hr>
                  <center>
                  {% if blog[5] == '0' %}
                  <button type="button" class="btn btn-xs btn-muted border" id='hb2' onclick="knightapi2('{{blog[6]}}')">Hide post</button>
                  {% else %}
                  <button type="button" class="btn btn-xs btn-muted border" id='hb2' onclick="knightapi2('{{blog[6]}}')">Unhide post</button>
                  {% endif %}
                  <button type="button" class="btn btn-xs btn-muted border" onclick="confirm_dedit('1','{{blog[6]}}')">Delete</button>
                  <button type="button" class="btn btn-xs btn-danger mdi mdi-check border" onclick="deleapi('1','{{blog[6]}}','9999')" style="display:none;" id="finald"></button>

                  </center>
                  <br>
                </div>
                <br>
                <fieldset class="border p-2 text-muted">
                  <legend class="float-none w-auto text-muted" style="font-size:15px">Information</legend>
                  <center>
                    <p>Image Alt text automatically set using your Blog's title, Every blog post or product post also added to an automated sitemap generator, to edit sitemap or robots.txt for search engine optimization please click <a href="/">here</a></p>
                  </center>
                </fieldset>
            </div>


            <div class="col-12 col-md-8">
            <form method="post" id="form" name="form">

              <div class="input-group mb-3 pt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text btn-muted text-dark" style="border-radius:8px 0 0 8px">Blog title</span>
                </div>
                    <input type="text" class="form-control" id="title" name="title" aria-label="" placeholder="Post title" value="{{blog[1]}}">
                    <input type="hidden" class="form-control" id="bimg" name="bimg" placeholder="" value="{{blog[3]}}">
                    <input type="hidden" class="form-control" id="cat" name="cat" placeholder="" value="">
                    <input type="hidden" class="form-control" id="ishidden" name="ishidden" placeholder="" value="{{blog[5]}}">
              </div>


                  {{ ckeditor.create(value=blog[2]) }}
                <br>

                <button type="submit" class="btn btn-primary">Update post</button>
              </form>
            </div>

          </div>
        </div>
        <br>

        <!-- content-wrapper ends -->
        <!-- partial:../../dashboard/partials/_footer.html -->
        {% include "/dashboard/includes/footer.html" %}

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <script src="../../dashboard/knightstudio.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>

  <!-- End custom js for this page-->

<script src="../../dashboard/ks-js/filepond-plugin-file-metadata.min.js"></script>
<script src="../../dashboard/ks-js/filepond-plugin-image-preview.min.js"></script>
<script src="../../dashboard/ks-js/filepond-plugin-file-rename.min.js"></script>
<script src="../../dashboard/ks-js/filepond.min.js"></script>
<script>
FilePond.registerPlugin(FilePondPluginImagePreview);
FilePond.registerPlugin(FilePondPluginFileMetadata);
FilePond.registerPlugin(FilePondPluginFileRename);

const r = "{{blog[6]}}"
const inputElement = document.querySelector(`#mainfile`);
const pond = FilePond.create(inputElement, {
        server: './upload-blog',
        labelIdle: "Main image",
        credits: false,
        fileMetadataObject: {
            p_id: product_data['id'],
        },
  });

pond.on('removefile', (error, file) => {
  document.getElementById("bimg").value = "";
  let _d = {"image":file.filename,"route":r};
  delpartialim(_d);
})

{% if blog[3] %}
  pond.addFile("{{blog[3]}}");
{% endif %}
</script>

<script>
$("#form").submit( function(eventObj) {
  var vv = $("#categ").val()
  $("#cat").val(vv)
});
</script>
</body>

</html>
