<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Modules - KnightStudio Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../dashboard/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" />
  <script src="../../dashboard/knightstudio.js"></script>

<style>
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 13px 13px 13px 13px;
    display: inline-block;
    padding: 6px 12px;
    margin-top:10px;
    cursor: pointer;
}
</style>
</head>

<body class="sidebar-dark">
<script>
{% if success %}
swal("", 'Website information updated', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}
</script>

  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/dashboard">
            <img src="../../dashboard/img/knightstudio.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/dashboard">
            <img src="../../dashboard/img/knightstudio-s.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <h4 class="text-dark ms-auto">Modules settings</h4>

        <ul class="navbar-nav ms-auto">



          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/messages" class="btn btn-sm btn-dark fa fa-envelope-o"> Message <span class="rounded" style="background-color:white;color:black">&nbsp{{data['messages']}}&nbsp</span></a>
              </span>
          </li>

          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="{{data['domain']}}" target="_a" class="btn btn-sm btn-dark">Visit Website</a>
              </span>
          </li>
          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-dark">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-webacc" aria-expanded="false" aria-controls="KnightStudio-webacc">
              <i class="menu-icon mdi mdi-database-settings"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-webacc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account">Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="/modules"><b class="text-warning">Modules</b></a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Contents</li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-product" aria-expanded="false" aria-controls="KnightStudio-product">
              <i class="menu-icon mdi mdi-rice"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-product">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/product-orders">Product Orders</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-new">New Product</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-manage">Manage Products</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-settings">Settings</a></li>
              </ul>
            </div>
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-blog" aria-expanded="false" aria-controls="KnightStudio-blog">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/blog-new">New Post</a></li>
                <li class="nav-item"> <a class="nav-link" href="/blog-manage">Manage Posts</a></li>
              </ul>
            </div>

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-messages" aria-expanded="false" aria-controls="KnightStudio-messages">
              <i class="menu-icon mdi mdi-message-processing"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/messages">Customer Messages</a></li>
                <li class="nav-item"> <a class="nav-link" href="/mwebsite">Website Logging</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">Information</li>
          <li class="nav-item">
            <a class="nav-link" href="/other">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Other Information</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div>

            <div class="card">
              <div class="card-body" style="padding-left:7%;padding-right:7%">
                <!-- <h4 class="card-title">Website Modules Control</h4> -->
                <p class="card-description">

                  </p>
                  <div>
                  <h3><span class="badge bg-secondary text-white">Announcement</span></h3>
                  <p class="text-muted">Announcement message will show on the top of the page, please make the announcement as short as posible.</p>

                  <input class="flex rounded form-control"  placeholder="Please share a message you'd like to be in announcement" id="announcement_content" value="{{mod['announcement']['message']}}"></input>

                  {% if mod['announcement']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="announcement_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="form-check-input form-control" type="checkbox" role="switch" id="announcement_btn" >
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% endif %}

                <br>
                <br>
                <hr>
                <br>
                <br>

                <h3><span class="badge bg-secondary text-white">Featured Image & Message</span></h3>
                <p class="text-muted">Make the message as short as posible, either can be blank</p>
                <p>Image direct link</p> <input type="text" style="width:80%" class="form-control" id="popup_img" name="sitename" placeholder="Featured image" value="{{mod['popup']['image']}}">
                <p>Message</p> <input type="text" style="width:80%" class="form-control" id="popup_message" name="sitename" placeholder="Featured message" value="{{mod['popup']['message']}}">
                  {% if mod['popup']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="popup_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="popup_btn">
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% endif %}


                <br>
                <br>
                <hr>
                <br>
                <br>


                <h3><span class="badge bg-secondary text-white">Up-arrow</span></h3>
                <p class="text-muted">Up-arrow shows when visitor reached the bottom of the page</p>

                <p>Color</p><input class="flex rounded form-control" style="width:80%" placeholder="Color: black, grey, red, yellow, white,orange,blue,brown,green" id="uparrow_content" value="{{mod['uparrow']['color']}}"></input>
                  {% if mod['uparrow']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="uparrow_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="uparrow_btn">
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% endif %}


                <br>
                <br>
                <hr>
                <br>
                <br>

                <h3><span class="badge bg-secondary text-white">Social share</span></h3>
                <p class="text-muted">Please do not include 'http://', e.g fb.com/mypagename</p>
                <p>Facebook</p><input class="flex rounded form-control" style="width:80%" placeholder="Facebook link" id="socialshare_facebook" value="{{mod['socialshare']['fb']}}"></input>
                <p>Twitter</p><input class="flex rounded form-control" style="width:80%" placeholder="Twitter link" id="socialshare_twitter" value="{{mod['socialshare']['tw']}}"></input>
                <p>Instagram</p><input class="flex rounded form-control" style="width:80%" placeholder="Instagram link" id="socialshare_instagram" value="{{mod['socialshare']['ig']}}"></input>
                <p>Google</p><input class="flex rounded form-control" style="width:80%" placeholder="Google link" id="socialshare_google" value="{{mod['socialshare']['gl']}}"></input>
                {% if mod['socialshare']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="socialshare_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="socialshare_btn">
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                {% endif %}


                <br>
                <br>
                <hr>
                <br>
                <br>


                <h3><span class="badge bg-secondary text-white">Video embed</span></h3>
                <p class="text-muted">Embed codes can be copied from Youtube, Vimeo or any Video sharing platform</p>
                <p>Embed code</p><input class="flex rounded form-control" style="width:80%" placeholder="Video embed code (Daily motion, Youtube etc.)" id="videoembed_code" value="{{mod['videoembed']['code']}}"></input>
                <p>Thumbnail source</p><input class="flex rounded form-control" style="width:80%" placeholder="Direct link to image file as thumbnail" id="videoembed_thumbnail" value="{{mod['videoembed']['thumbnail']}}"></input>
                  {% if mod['videoembed']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="videoembed_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="videoembed_btn">
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% endif %}



                <br>
                <br>
                <hr>
                <br>
                <br>



                <h3><span class="badge bg-secondary text-white">Extras</span></h3>
                <p class="text-muted">Inputs below might be shown on website as Button, Inputs or Text (Contact us to customize)</p>
                <p class="text-muted">Whatsapp (If you want to recieve a message thru Whatsapp)</p><input class="flex rounded form-control" style="width:80%" placeholder="Your Whatsapp number you want to show online" id="extras_whatsapp" value="{{mod['extras']['whatsapp']}}"></input>
                <p class="text-muted">Number (If you want to show or receive a call on your Business number)</p><input class="flex rounded form-control" style="width:80%" placeholder="Business number" id="extras_number" value="{{mod['extras']['number']}}"></input>
                <p class="text-muted">Email (If you want to show or receive an email on your Business email)</p><input class="flex rounded form-control" style="width:80%" placeholder="Business email" id="extras_email" value="{{mod['extras']['email']}}"></input>
                <p class="text-muted">Full Address (If you wanna show your Business location/address)</p><input class="flex rounded form-control" style="width:80%" placeholder="Full address" id="extras_address" value="{{mod['extras']['address']}}"></input>
                  {% if mod['extras']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="extras_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="extras_btn">
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% endif %}



                <br>
                <br>
                <hr>
                <br>
                <br>


                <h3><span class="badge bg-secondary text-white">Developer Mode (KnightStudio Developer Only)</span></h3>
                <p class="text-muted">Custom module settings goes here (Only for KnightStudio Developer)</p>
                <p>Code</p><input class="flex rounded form-control" style="width:80%" placeholder="Custom modules settings" id="custom_code" value="{{mod['custom']['code']}}"></input>
                  {% if mod['custom']['enabled'] %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control bg-dark" type="checkbox" role="switch" id="custom_btn" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% else %}
                  <div class="form-check form-switch" style="padding-left:43px">
                    <input class="flex form-check-input form-control" type="checkbox" role="switch" id="custom_btn">
                    <label class="form-check-label" for="flexSwitchCheckChecked" style="padding-top:10px"> Enable / Disable</label>
                  </div>
                  {% endif %}



                <br>
                <br>
                <hr>
                <br>
                  <p class="text-center text-muted">Website needs refresh to view changes, Module will be Off automatically when theres an important value that is missing, Turning Off will make the specified module hidden.</p>
                  <p class="text-center text-muted">Contact us for any help with the inputs above or module placement.</p>

              </div>
            </div>

          </div>

        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../dashboard/partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.KnightStudio.ca/" target="_blank">KnightStudio Dashboard v1.4</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <script src="../../dashboard/knightstudioswitch.js"></script>

  <!-- End custom js for this page-->
  <script>
$(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                $("#logoview").attr('src','/media/'+data['status']);
                swal("", 'Website Logo updated', "success");

            },
        });
    });
});

$(function() {
    $('#upload-fav-btn').click(function() {
        var form_data = new FormData($('#upload-fav')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload_fav',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                $("#favview").attr('src','/media/'+data['status']);
                swal("", 'Website Favicon updated', "success");

            },
        });
    });
});

  </script>

</body>

</html>
