<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Account Settings - KnightStudio Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../dashboard/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../../dashboard/knightstudio.js"></script>

<style>
.scontainer { border:0.5px solid #ccc; width:250px; height: 300px; overflow-y: scroll;}
</style>
</head>

<body class="sidebar-dark">
<script>

{% if success %}
swal("", 'Product Settings updated', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}

let shipping = {};
let shipping_names = [];
let currkey = "{{settings[2]}}";
</script>



  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/dashboard">
            <img src="../../dashboard/img/knightstudio.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/dashboard">
            <img src="../../dashboard/img/knightstudio-s.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <h4 class="text-dark ms-auto">Product Payment Setup</h4>

        <ul class="navbar-nav ms-auto">

          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="" class="btn btn-sm btn-dark">Visit Website</a>
              </span>
          </li>
          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-dark">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-webacc" aria-expanded="false" aria-controls="KnightStudio-webacc">
              <i class="menu-icon mdi mdi-database-settings"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-webacc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account"><b class="text-warning">Account</b></a></li>
                <li class="nav-item"> <a class="nav-link" href="/modules">Modules</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Contents</li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-product" aria-expanded="false" aria-controls="KnightStudio-product">
              <i class="menu-icon mdi mdi-rice"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-product">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/product-orders">Product Orders</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-new">New Product</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-manage">Manage Products</a></li>
                <li class="nav-item"> <a class="nav-link " href="/product-settings"><b class="btn btn-xs btn-warning text-dark">Settings</b></a></li>
              </ul>
            </div>
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-blog" aria-expanded="false" aria-controls="KnightStudio-blog">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/blog-new">New Post</a></li>
                <li class="nav-item"> <a class="nav-link" href="/blog-manage">Manage Posts</a></li>
              </ul>
            </div>

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-messages" aria-expanded="false" aria-controls="KnightStudio-messages">
              <i class="menu-icon mdi mdi-message-processing"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/messages">Customer Messages</a></li>
                <li class="nav-item"> <a class="nav-link" href="/mwebsite">Website Logging</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">Information</li>
          <li class="nav-item">
            <a class="nav-link" href="/other">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Other Information</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row justify-content-center">
            <div class="col col-md-9">
              <div class="card">
                <div class="card-body">
                  <!-- <h4 class="card-title">Account Settings</h4> -->
                  <h3><span class="badge bg-secondary text-white rounded-0">Product Payment / Stripe API Setup</span></h3>
                  <p class="text-muted">KnightStudio uses Stripe for fast and secured payment processing, <a href="https://dashboard.stripe.com/register" target="_blank">create an account</a> if you don't have one.</p>
                  <form class="pt-3" method="post" id="setform">
                  <div class="input-group mb-3 pt-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text btn-muted text-muted" style="border-radius:8px 0 0 8px">SECRET KEY</span>
                    </div>
                    <input type="text" class="form-control" id="skey" name="skey" aria-label="" placeholder="Secret Key from your Stripe account" value="{{settings[0]}}">
                  </div>
                  <div class="input-group mb-3 pt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text btn-muted text-muted" style="border-radius:8px 0 0 8px">PUBLISHABLE KEY</span>
                    </div>
                    <input type="text" class="form-control" id="pkey" name="pkey" aria-label="" placeholder="Publishable Key from your Stripe account" value="{{settings[1]}}">
                  </div>
                  <div class="input-group mb-3 pt-3" style="display:none">
                    <div class="input-group-prepend">
                      <span class="input-group-text btn-muted text-muted" style="border-radius:8px 0 0 8px">WEBHOOK KEY</span>
                    </div>
                    <input type="text" class="form-control" id="wkey" name="wkey" aria-label=""
                      placeholder="Webhook key from Stripe" value="{{settings[4]}}">
                  </div>
                  <div class="input-group mb-3 pt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text btn-muted text-muted" style="border-radius:8px 0 0 8px">WEBHOOK SIGN KEY</span>
                    </div>
                    <input type="text" class="form-control" id="wskey" name="wskey" aria-label="" placeholder="Webhook Signing key from Stripe"
                      value="{{settings[5]}}">
                    <input value="" id="cactivated" name="cactivated" hidden>
                    <input value="" id="shippingobj" name="shippingobj" hidden>
                  </div>
                  <br>
                  <hr class="text-muted">
                  <div class="input-group mb-3 pt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text btn-muted text-muted" style="border-radius:8px 0 0 8px">Currency</span>
                    </div>
                      <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="ckey" name="ckey">
                        <option value="{{settings[2]}}" selected>{{settings[2]}}</option>
                        {% for currency in currencies %}
                        <option value="{{currency}}">{{currency}}</option>
                        {% endfor %}
                      </select>
                      </div>
                      <div class="input-group mb-3 pt-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text btn-muted text-muted" style="border-radius:8px 0 0 8px">Shipping</span>
                        </div>
                          <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="shipping" name="shipping" onchange="showship(this)">
                            {% if settings[6] == "on" %}
                                 <option value="on" selected>Enable Shipping</option>
                                  <option value="off">No Shipping</option>
                            {% else %}
                                  <option value="on">Enable Shipping</option>
                                  <option value="off" selected>No Shipping</option>
                            {% endif %}
                          </select>
                          <p class="text-muted p-3 m-3">Turn Shipping On if your product is a physical good and is required a shipping to get to your customer, Turning this on will show an Address form on checkout along with the Shipping option provided</p>
                        </div>
                        <br>
                          {% if settings[6] == "on" %}
                          <div class="container" id="shippingopt" style="display:block">
                          {% else %}
                          <div class="container" id="shippingopt" style="display:none">

                          {% endif %}
                            <fieldset class="border p-2 text-muted rounded">
                              <legend class="float-none w-auto text-muted" style="font-size:15px">Shipping Enabled </legend> 
                              <div class="row">
                              <center>
                                <p>SHIPPING RATES</p>
                              </center>

                                <div class="col" id="col-rates">
                                      <div class="card shadow-none border rounded-0 p-1 m-1">
                                        <div class="card-header bg-dark text-white">
                                          Add Shipping rate
                                        </div>
                                        <div class="card-body">
                                          <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text text-muted" id="inputGroup-sizing-sm">Shipping Name</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g Express Shipping (DHL)" id="sname">
                                          </div>
                                          <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text text-muted" id="inputGroup-sizing-sm">Shipping Amount</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                                              placeholder="e.g 13.00" id="samount" value="10.00">
                                          </div>
                                          <div class="row">                  
                                          <div class="col-sm-6">
                                            <div class="input-group input-group-sm mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text text-muted" id="inputGroup-sizing-sm">Minimum Business days</span>
                                              </div>
                                              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                                                placeholder="e.g 5" id="sminimum">
                                            </div>
                                          </div>        
                                          <div class="col-sm-6">
                                              <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text text-muted" id="inputGroup-sizing-sm">Maximum Business days</span>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="e.g 7" id="smaximum">
                                          </div> 
                                          </div>
                                          <button type="button" class="btn btn-primary btn-s" onclick="shippingrateel()">Add Shipping</button>
                                          <br>
                                          <hr>
                                          <div id="rates">

                                          </div>
                                        </div>
                                      </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                  <p>Countries supported by Stripe payment</p>
                                  <div class="scontainer">
                                    {% for country_f, country_s in countries.items() %}
                                        {% if country_f in settings[8] %}
                                            <input type="checkbox" class="p-1 m-1" id="{{country_f}}" name="{{counry_f}}"  value="{{country_f}}" checked/> {{country_s}} <br />
                                        {% else %}
                                            <input type="checkbox" class="p-1 m-1" id="{{country_f}}" name="{{counry_f}}"  value="{{country_f}}" /> {{country_s}} <br />

                                        {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>



                            </fieldset>
                          </div>
                    <div class="mt-3">
                      <br>
                    <button type="button" onclick="beforesub()" class="btn btn-primary">Save information</button>
                      <!-- <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="../../dashboard/index.html">SIGN IN</a> -->
                    </div>

                  </form>
                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../dashboard/partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.KnightStudio.ca/" target="_blank">KnightStudio Dashboard v1.4</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script>
  var initload = {{settings[7]|safe}}
  const r_ = Object.keys(initload);
  for (var i = 0; i < r_.length; i++) {
      let cont_ = initload[r_[i]];
      cont_.push(r_[i])
      shippingrateel(cont_)
  }
  var selcountries = []
  var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

  for (var i = 0; i < checkboxes.length; i++) {
    selcountries.push(checkboxes[i].value)
  }

  function beforesub() {
    var selcountries = []
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

    for (var i = 0; i < checkboxes.length; i++) {
      selcountries.push(checkboxes[i].value)
    }
    document.getElementById("cactivated").value = selcountries;
    document.getElementById("shippingobj").value = JSON.stringify(shipping);
    document.getElementById("setform").submit()
    }

  </script>
  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
