<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Product Orders - KnightStudio Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">


  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body class="sidebar-dark">
<script>

{% if success %}
swal("", 'Product Settings updated', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}
</script>



  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/dashboard">
            <img src="../../dashboard/img/knightstudio.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/dashboard">
            <img src="../../dashboard/img/knightstudio-s.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">

        <h4 class="text-dark ms-auto">Product Orders</h4>

        <ul class="navbar-nav ms-auto">

          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="" class="btn btn-sm btn-dark">Visit Website</a>
              </span>
          </li>
          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-dark">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-webacc" aria-expanded="false" aria-controls="KnightStudio-webacc">
              <i class="menu-icon mdi mdi-database-settings"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-webacc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account"><b class="text-warning">Account</b></a></li>
                <li class="nav-item"> <a class="nav-link" href="/modules">Modules</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Contents</li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-product" aria-expanded="false" aria-controls="KnightStudio-product">
              <i class="menu-icon mdi mdi-rice"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-product">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/product-orders"><b class="btn btn-xs btn-warning text-dark">Product Orders</b></a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-new">New Product</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-manage">Manage Products</a></li>
                <li class="nav-item"> <a class="nav-link " href="/product-settings">Settings</a></li>
              </ul>
            </div>
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-blog" aria-expanded="false" aria-controls="KnightStudio-blog">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/blog-new">New Post</a></li>
                <li class="nav-item"> <a class="nav-link" href="/blog-manage">Manage Posts</a></li>
              </ul>
            </div>

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-messages" aria-expanded="false" aria-controls="KnightStudio-messages">
              <i class="menu-icon mdi mdi-message-processing"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/messages">Customer Messages</a></li>
                <li class="nav-item"> <a class="nav-link" href="/mwebsite">Website Logging</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">Information</li>
          <li class="nav-item">
            <a class="nav-link" href="/other">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Other Information</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
         
      <!-- main-panel ends -->
    <div class="main-panel">
      <div class="container">
        <br>
        <a class="btn btn-muted btn-s border" href="/product-orders">
          < Orders</a>
        <button class="btn btn-muted text-dark right border">Fulfillment Setup</button>

        <br>
            <div class="container">
              <div class="row">
                <div class="col-md-7"> <!-- Main  bar -->
                  <div class="row bordered">
                    <div class="card border shadow-none rounded border m-3" style="background: #F4F5F7">
                      <div class="card-body bordered shadow-none">
                        <h5 class="text-muted">ITEMS FROM ORDER #{{order[0]}}{{order[5]}}</h5>
                        {% for item in items %}
                            {% for k,v in item.items() %}
                          <div class="card border shadow rounded border" style="background: #ffffff;">
                            <div class="card-body bordered shadow-none">
                              <div class="row">
                              <div class="col-md-2">
                                <img
                                  src="{{item[k]['image']}}"
                                  style="height: 100px;width:100px;" class="border rounded"/>
                              </div>
                              <div class="col">
                                <br>
                                <p>&nbsp&nbspProduct: <b>{{k}}</b></p>
                                <p>&nbsp&nbspQuantity: {{item[k]['quantity']}}</p>
                              </div>     
                            </div>
                            </div>
                          </div>
                          <br/>
                          {% endfor %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="card border shadow-none rounded m-3 shadow" style="background: #F4F5F7;width:100%">
                      <div class="card-body bordered shadow-none">
                        <form>
                          <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn-muted text-muted">Tracking code</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="tinfo"
                              placeholder="Add tracking code if customer paid for shipping">
                          </div>
                          <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn-muted text-muted">Additional Info</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="tinfo"
                              placeholder="Good for digital goods, links, download links etc.">
                          </div>
                        </form>
                        <center><button class="btn btn-primary" type="button">Mark as Fulfilled</button></center>
                      </div>
                    </div>
          
                  </div>
                </div>
                
                <div class="col-md-4"> <!-- Side bar -->
                    <div class="card border shadow-none m-3 rounded" style="background: #F4F5F7;">
                      <div class="card-body bordered shadow-none">
                        <center><h4>ORDER DETAILS</h4></center>
                        <hr style="color:rgb(59, 59, 59)">
                        <br>
                        <p class="text-muted"><b>Order ID:</b> {{order[0]}}{{order[5]}}</p>
                        <p class="text-muted"><b>Order Date:</b> {{loaddate(order[5])}}</p>                        
                        <p class="text-muted"><b>Name:</b> {{order[2]}}</p>
                        <p class="text-muted"><b>Address:</b> {{order[15]}}</p>
                        <p class="text-muted"><b>Country:</b> {{order[7]}}, {{order[8]}}</p>
                        <p class="text-muted"><b>Email:</b> {{order[3]}}</p>
                        <p class="text-muted"><b>Phone:</b> {{order[16]}}</p>
                        <p class="text-muted"><b>Shipping Paid:</b> {{shipping_fee}}</p>
                        <p class="text-muted"><b>Amount Paid:</b> {{order[4]}}</p>
                        <p class="text-muted"><b>Fulfilled:</b> No</p>
                        
                      </div>
                    </div>
                  </div>    
              </div>
            </div>
      </div>
    </div>
    </div>

    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
