<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Product Orders - KnightStudio Dashboard</title>
  <link rel="stylesheet" href="../../dashboard/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../dashboard/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../dashboard/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../dashboard/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../dashboard/css/vertical-layout-light/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="../../dashboard/img/terminal.svg" />
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
  <script src="../../dashboard/product-order-single.js"></script>

<style>
  
.tracking-detail {
 padding:3rem 0
}
#tracking {
 margin-bottom:1rem
}
[class*=tracking-status-] p {
 margin:0;
 font-size:1.1rem;
 color:#fff;
 text-transform:uppercase;
 text-align:center
}
[class*=tracking-status-] {
 padding:1.6rem 0
}
.tracking-status-intransit {
 background-color:#65aee0
}
.tracking-status-outfordelivery {
 background-color:#f5a551
}
.tracking-status-deliveryoffice {
 background-color:#f7dc6f
}
.tracking-status-delivered {
 background-color:#4cbb87
}
.tracking-status-attemptfail {
 background-color:#b789c7
}
.tracking-status-error,.tracking-status-exception {
 background-color:#d26759
}
.tracking-status-expired {
 background-color:#616e7d
}
.tracking-status-pending {
 background-color:#ccc
}
.tracking-status-inforeceived {
 background-color:#214977
}
.tracking-list {
}
.tracking-item {
 position:relative;
 padding:2rem 1.5rem .5rem 2.5rem;
 font-size:.9rem;
 margin-left:3rem;
 min-height:5rem
}
.tracking-item:last-child {
 padding-bottom:4rem
}
.tracking-item .tracking-date {
 margin-bottom:.5rem
}
.tracking-item .tracking-date span {
 color:#888;
 font-size:85%;
 padding-left:.4rem
}
.tracking-item .tracking-content {
 padding:.5rem .8rem;
 background-color:#f4f4f4;
 border-radius:.5rem
}
.tracking-item .tracking-content span {
 display:block;
 color:#888;
 font-size:85%
}
.tracking-item .tracking-icon {
 line-height:2.6rem;
 position:absolute;
 left:-1.3rem;
 width:2.6rem;
 height:2.6rem;
 text-align:center;
 border-radius:50%;
 font-size:1.1rem;
 background-color:#fff;
 color:#fff
}
.tracking-item .tracking-icon.status-sponsored {
 background-color:#f68
}
.tracking-item .tracking-icon.status-delivered {
 background-color:#4cbb87
}
.tracking-item .tracking-icon.status-outfordelivery {
 background-color:#f5a551
}
.tracking-item .tracking-icon.status-deliveryoffice {
 background-color:#f7dc6f
}
.tracking-item .tracking-icon.status-attemptfail {
 background-color:#b789c7
}
.tracking-item .tracking-icon.status-exception {
 background-color:#d26759
}
.tracking-item .tracking-icon.status-inforeceived {
 background-color:#214977
}
.tracking-item .tracking-icon.status-intransit {
 color:#e5e5e5;
 border:1px solid #e5e5e5;
 font-size:.6rem
}
@media(min-width:992px) {
 .tracking-item {
  margin-left:10rem
 }
 .tracking-item .tracking-date {
  position:absolute;
  left:-10rem;
  width:7.5rem;
  text-align:right
 }
 .tracking-item .tracking-date span {
  display:block
 }
 .tracking-item .tracking-content {
  padding:0;
  background-color:transparent
 }
}
</style>
</head>

<body class="sidebar-dark">
<script>

{% if success %}
swal("", 'Product Settings updated', "success");
{% endif %}


{% if error %}
swal("", `{{error}}`, "warning");
{% endif %}
</script>



  <div class="container-scroller">
    <!-- partial:../../dashboard/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/dashboard">
            <img src="../../dashboard/img/knightstudio.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/dashboard">
            <img src="../../dashboard/img/knightstudio-s.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">

        <h4 class="text-dark ms-auto">Product Orders</h4>

        <ul class="navbar-nav ms-auto">

          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="" class="btn btn-sm btn-dark">Visit Website</a>
              </span>
          </li>
          <li class="nav-item d-none d-lg-block">
              <span class="input-group-addon input-group-prepend border-right">
                <a href="/logoff" class="btn btn-sm btn-dark">Log out</a>
              </span>
          </li>
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../dashboard/partials/_settings-panel.html -->

      <!-- partial -->
      <!-- partial:../../dashboard/partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-category">Website & Account</li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-webacc" aria-expanded="false" aria-controls="KnightStudio-webacc">
              <i class="menu-icon mdi mdi-database-settings"></i>
              <span class="menu-title">Settings</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-webacc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Website</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account"><b class="text-warning">Account</b></a></li>
                <li class="nav-item"> <a class="nav-link" href="/modules">Modules</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item nav-category">Contents</li>
          <li class="nav-item">

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-product" aria-expanded="false" aria-controls="KnightStudio-product">
              <i class="menu-icon mdi mdi-rice"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-product">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/product-orders"><b class="btn btn-xs btn-warning text-dark">Product Orders</b></a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-new">New Product</a></li>
                <li class="nav-item"> <a class="nav-link" href="/product-manage">Manage Products</a></li>
                <li class="nav-item"> <a class="nav-link " href="/product-settings">Settings</a></li>
              </ul>
            </div>
            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-blog" aria-expanded="false" aria-controls="KnightStudio-blog">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Blog</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-blog">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/blog-new">New Post</a></li>
                <li class="nav-item"> <a class="nav-link" href="/blog-manage">Manage Posts</a></li>
              </ul>
            </div>

            <a class="nav-link" data-bs-toggle="collapse" href="#KnightStudio-messages" aria-expanded="false" aria-controls="KnightStudio-messages">
              <i class="menu-icon mdi mdi-message-processing"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="KnightStudio-messages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/messages">Customer Messages</a></li>
                <li class="nav-item"> <a class="nav-link" href="/mwebsite">Website Logging</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item nav-category">Information</li>
          <li class="nav-item">
            <a class="nav-link" href="/other">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Other Information</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
         
      <!-- main-panel ends -->
    <div class="main-panel">
      <div class="container">
        <br>
        <a class="btn btn-muted btn-s border" href="/product-orders">
          < Orders</a>

        <br>
            <div class="container">
              <div class="row">
                <div class="col-md-7"> <!-- Main  bar -->
                  <div class="row bordered">
                    <div class="card border shadow-none rounded border m-3" style="background: #F4F5F7">
                      <div class="card-body bordered shadow-none">
                        <h5 class="text-muted"><p class="icon-handbag d-inline"></p> ITEMS FROM ORDER #{{order[0]}}{{order[5]}}</h5>
                        {% for item in items %}
                            {% for k,v in item.items() %}
                          <div class="card border shadow rounded border" style="background: #ffffff;">
                            <div class="card-body bordered shadow-none">
                              <div class="row">
                              <div class="col-md-2">
                                <img
                                  src="{{item[k]['image']}}"
                                  style="height: 100px;width:100px;" class="border rounded"/>
                              </div>
                              <div class="col">
                                <br>
                                <p>&nbsp&nbspProduct: <b>{{k}}</b></p>
                                <p>&nbsp&nbspQuantity: {{item[k]['quantity']}}</p>
                              </div>     
                            </div>
                            </div>
                          </div>
                          <br/>
                          {% endfor %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                                                         
                    <div class="card border shadow-none rounded m-3 shadow" style="background: #F4F5F7;width:100%">
                      <div class="card-body bordered shadow-none">
                        <form>
                          <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn-muted text-muted">Tracking code</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="tinfo"
                              placeholder="Add tracking code if customer paid for shipping">
                          </div>
                          <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text btn-muted text-muted">Additional Info</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="tinfo"
                              placeholder="Good for digital goods, links, download links etc.">
                          </div>
                        </form>
                        <center><button class="btn btn-muted text-dark border icon-settings d-inline shadows" style="background:#f5f5f5" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>&nbsp<button class="btn btn-primary icon-check shadow" type="button" style="background:#28a745;border: 1px gray"> Manual</button>&nbsp
                          {% if template %}
                          <button class="btn btn-primary icon-check shadow" type="button" style="background:#28a745;border: 1px gray"> Mark as Fulfilled</button></center>
                          {% else %}
                          <button class="btn btn-primary icon-check shadow" type="button" style="background:#28a745;border: 1px gray" disabled> Mark as Fulfilled</button> </center>
                          {% endif %}
                          <br>
                          <small class="text-muted text-small">Mark as Fulfilled will send an email to a customer using an email template, make sure to have your email settings up-to-date and tested, Manual will also mark the order as fulfilled but will not try to send an automatic email</small>
                          <!-- Editable modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Fulfillment Template - Modify for this order</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div>

                                      {{ ckeditor.create(value=template) }}

                                    </div>
                                  </div>

                                  <div class="modal-footer">
                                    <a class="btn btn-secondary"  href="/product-settings">Edit Global Template</a>
                                    <button type="button" class="btn btn-primary" onclick="ckdata_get()" data-bs-dismiss="modal" id="customtemp_stat">Save for this order</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Editable modal -->
                      </div>
                    </div>
                    <div class="container rounded">
                      <div class="row">
                    
                        <div class="col-lg-12">
                          <div id="tracking border">
                            <div class="tracking-list">

                              <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                  <i class="large material-icons m-2" style="color:green">storefront</i>
                                  <!-- <i class="fas fa-circle"></i> -->
                                </div>
                                <div class="tracking-date">Aug 10, 2018<span>05:01 PM</span></div>
                                <div class="tracking-content">Order Placed<span>Order #989712332123 - Paid $133 for Shipping</span></div>
                              </div>

                              <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                  <i class="large material-icons m-2" style="color:green">credit_card_gear</i>
                                  <!-- <i class="fas fa-circle"></i> -->
                                </div>
                                <div class="tracking-date">Aug 10, 2018<span>05:01 PM</span></div>
                                <div class="tracking-content">Payment accepted<span>Order #989712332123 - Paid the amount of $133</span></div>
                              </div>

                              <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                  <i class="large material-icons m-2" style="color:green">mark_email_unread</i>
                                  <!-- <i class="fas fa-circle"></i> -->
                                </div>
                                <div class="tracking-date">Aug 10, 2018<span>05:01 PM</span></div>
                                <div class="tracking-content">Customer Notified<span>Email sent to customer with order details</span></div>
                              </div>

                              <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                  <i class="large material-icons m-2" style="color:green">local_shipping</i>
                                  <!-- <i class="fas fa-circle"></i> -->
                                </div>
                                <div class="tracking-date">Aug 10, 2018<span>05:01 PM</span></div>
                                <div class="tracking-content">Order Fulfilled<span>Tracking link attached</span></div>
                              </div>

                              <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                  <i class="large material-icons m-2" style="color:green">check_circle</i>
                                  <!-- <i class="fas fa-circle"></i> -->
                                </div>
                                <div class="tracking-date">Aug 10, 2018<span>05:01 PM</span></div>
                                <div class="tracking-content">Customer Notified<span>Email sent to customer with order details and tracking details</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>

                
                <div class="col-md-4"> <!-- Side bar -->
                    <div class="card border shadow-none m-3 rounded" style="background: #F4F5F7;">
                      <div class="card-body bordered shadow-none">
                        <center><h4><p class="icon-layers d-inline"></p> ORDER DETAILS</h4></center>
                        <hr style="color:rgb(59, 59, 59)">
                        <br>
                        <p class="text-muted"><b>Order ID:</b> {{order[19]}}</p>
                        <p class="text-muted"><b>Order Date:</b> {{loaddate(order[5])}}</p>                        
                        <p class="text-muted"><b>Name:</b> {{order[2]}}</p>
                        <p class="text-muted"><b>Address:</b> {{order[15]}}</p>
                        <p class="text-muted"><b>Country:</b> {{order[7]}}, {{order[8]}}</p>
                        <p class="text-muted"><b>Email:</b> {{order[3]}}</p>
                        <p class="text-muted"><b>Phone:</b> {{order[16]}}</p>
                        <p class="text-muted"><b>Shipping Paid:</b> {{shipping_fee}}</p>
                        <p class="text-muted"><b>Amount Paid:</b> {{order[4]}}</p>
                        <p class="text-muted"><b>Fulfilled:</b> No</p>
                        
                      </div>
                    </div>
                  </div>    
              </div>
            </div>
      </div>
              <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                  <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.KnightStudio.ca/"
                      target="_blank">KnightStudio Dashboard v1.4</span>
                  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights
                    reserved.</span>
                </div>
              </footer>
    </div>
    
    </div>

    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

  <script src="../../dashboard/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../dashboard/vendors/select2/select2.min.js"></script>
  <script src="../../dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../dashboard/js/off-canvas.js"></script>
  <script src="../../dashboard/js/hoverable-collapse.js"></script>
  <script src="../../dashboard/js/template.js"></script>
  <script src="../../dashboard/js/settings.js"></script>
  <script src="../../dashboard/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../dashboard/js/file-upload.js"></script>
  <script src="../../dashboard/js/typeahead.js"></script>
  <script src="../../dashboard/js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
