<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="{{ site.seo_description }}" />
<meta name="keywords" content="{{ site.seo_keywords }}" />
<meta name="author" content="" />
<title>Blog Posts - {{ site.sitename }}</title>
<link href="/media/{{ site.favicon }}" rel="icon">


<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
</head>
<body>
<!-- Responsive navbar-->
<div class="container-xxl position-relative p-0">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
  <a href="/" class="navbar-brand p-0">
    <img src="/media/{{data['logo']}}" alt="Logo" class="flex"> {{data['sitename']}}
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0 pe-4">
      <a href="/" class="nav-item nav-link active">Home</a>
      
      {% if 'authenticated' in session %}
          {{admin_button()|safe}}
      {% endif %}

    </div>
  </div>
</nav>
</div>
<!-- Page content-->

<div class="container mt-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/blog-list">Blog list</a></li>
    </ol>
  </nav>
  <div class="row">
    <br>
    
    {% for blog in blogs %}
      {% set blog = setattribute("blog",blog) %} 
      {% if blog.hidden == '0' %}
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="/media/blog/{{ blog.image }}" alt="..." />
                  <div class="card-body p-4">
                      {% for category in blog.categories %}
                          <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ category }}</div>
                      {% endfor %}
                      <a class="text-decoration-none link-dark stretched-link" href="/blog/{{ blog.url }}"><h5 class="card-title mb-3">{{ blog.title }}</h5></a>
                      <p class="card-text mb-0">{{ htmltext( blog.body ) }}</p>
                  </div>
                  <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                      <div class="d-flex align-items-end justify-content-between">
                          <div class="d-flex align-items-center">
                              <div class="small">
                                  <div class="text-muted">Published {{ blog.blog_timestamp() }} &middot;</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      {% endif %}
  {% endfor %}

</div>
    <br>
    {{ pagination.links }}
</div>
{% include 'SYSTEM/minimal/product-includes/footer.html' %}

</body>
</html>
